<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="Conn" value="server=172.29.0.13; user id=idx_stage; password=#5Gdp*j}mN8@; database=IDX_Stage; connection timeout=180; App=kp_IDX"></add>-->
		<add key="Conn" value="server=172.29.0.103; user id=kpdev; password=kpd3vs3rv3r; database=OregonPEBT_Dev; connection timeout=180; App=OregonPEBT_Dev"></add>
		<!--<add key="Conn" value="server=SQLCLUS1; user id=IDX_Prod; password=(%Ls2}b7V&amp;k1; database=IDX_Prod; connection timeout=180; App=kp_IDX"></add>-->
		<add key="timeOut" value="10000"/>

		<!--Log Details-->
		<add key="LogFilePath" value="C:\Logs\PEBT\"></add>
		<add key="LogFileSize" value="5"/>
		<add key="logFileName" value="ImportMailInputPrintReadyManifest.log"></add>

		<add key="ExceptionSleep" value="15"/>
		<add key="DBConnRetryCount" value="3"/>

		<!--File Locations-->
		<add key="MailInputFile_SourceFilesFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\"/>
		<add key="MailInputFile_InputFileFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\InputFiles\"/>
		<add key="MailInputFile_ArchiveFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\Archive\"/>
		<add key="MailInputFile_ErrorFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\Archive\Error\"/>

		<add key="PrintReady_SourceFilesFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\"/>
		<add key="PrintReady_InputFileFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\InputFiles\"/>
		<add key="PrintReady_ArchiveFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\Archive\"/>
		<add key="PrintReady_ErrorFolder" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\SourceFiles\Error\"/>


		<add key="PEBT_Header" value="DateProcessedInspire,BatchID,SequenceNumber,PBT_FileName,PBT_FileCreationDate,PBT_FileFrequency,PBT_Environment,FileControlNum,NoticeID,CaseNumber,FirstName,MiddleInitital,LastName,Suffix,AddressLine1,AddressLine2,City,State,Zip+4,Lang,ReturnCode,IMB_String"/>
		
		<add key="SMTPSERVERNAME" value="relay.kpcorp.com"></add>
		<add key="FromEmail" value="KP-IDX@kpcorp.com"></add>
		<add key="FromName" value="STG-PEBT"></add>

		<add key="HeaderMismatch_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="HeaderMismatch_CCEmail" value=""></add>
		<add key="HeaderMismatch_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="HeaderMismatch_Subject" value="Staging-PEBT: {filename} Failed to Import"></add>
		<add key="HeaderMismatch_EmailTemplate" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\EmailTemplates\HeaderMismatch_EmailTemplate.txt"></add>

		<add key="Admin_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="Admin_CCEmail" value=""></add>
		<add key="Admin_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="Admin_Subject" value="Staging-PEBT: {filename} Failed to Import"></add>
		<add key="RuntimeError_FailureTemplate" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\EmailTemplates\RuntimeErrorEmailTemplate.txt"/>

		
		<add key="DuplicatePieceIDS_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="DuplicatePieceIDS_CCEmail" value=""></add>
		<add key="DuplicatePieceIDS_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="DuplicatePieceIDS_Subject" value="PEBT Duplicate Piece ID – Please Read"></add>
		<add key="DuplicatePieceIDS_EmailTemplate" value="C:\KP_Projects\PEBT_Billing\Import_MailInput_PrintReady_InputFiles\EmailTemplates\DuplicatePieceIDS_EmailTemplate.txt"></add>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>