<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Conn" value="server=172.29.0.103; user id=kpdev; password=kpd3vs3rv3r; database=OregonPEBT_Dev; connection timeout=180; App=OregonPEBT_Dev"></add>
		<!--<add key="Conn" value="server=172.29.0.13; user id=idx_stage; password=#5Gdp*j}mN8@; database=IDX_Stage; connection timeout=180; App=kp_IDX"></add>-->
		<!--<add key="Conn" value="server=SQLCLUS1; user id=IDX_Prod; password=(%Ls2}b7V&amp;k1; database=IDX_Prod; connection timeout=180; App=kp_IDX"></add>-->
		<add key="timeOut" value="10000"/>

		<!--Log Details-->
		<add key="LogFilePath" value="C:\Logs\PEBT\"></add>
		<add key="LogFileSize" value="5"/>
		<add key="logFileName" value="ImportScanReturnedMail.log"></add>

		<add key="ExceptionSleep" value="15"/>
		<add key="DBConnRetryCount" value="3"/>

		<!--File Locations-->
		<add key="Scanned_SourceFilesFolder" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\SourceFiles\"/>
		<add key="Scanned_InputFileFolder" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\InputFiles\"/>
		<add key="Scanned_ArchiveFolder" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\SourceFiles\Archive\"/>
		<add key="Scanned_ErrorFolder" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\SourceFiles\Error\"/>
		<add key="Folder_FailedRecords" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\FailedRecords\"/>

		<add key="ScannedReturnMail_Header" value="Scanned_Barcode"/>
		<add key="ScannedReturnMail_FileType" value="ScannedReturnMail"/>

		<add key="SMTPSERVERNAME" value="relay.kpcorp.com"></add>
		<add key="FromEmail" value=""></add>
		<add key="FromName" value="STG-PEBT"></add>

		<add key="HeaderMismatch_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="HeaderMismatch_CCEmail" value=""></add>
		<add key="HeaderMismatch_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="HeaderMismatch_Subject" value=": PEBT: {filename} Failed to Import"></add>
		<add key="HeaderMismatch_EmailTemplate" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\EmailTemplates\HeaderMismatch_EmailTemplate.txt"></add>

		<add key="RecordsNotMatched_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="RecordsNotMatched_CCEmail" value=""></add>
		<add key="RecordsNotMatched_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="RecordsNotMatched_Subject" value="PEBT: Records Not Matched"></add>
		<add key="RecordsNotMatched_EmailTemplate" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\EmailTemplates\RecordsNotMatched.txt"></add>

		<add key="Admin_ToEmail" value="graavi@kpcorp.com"></add>
		<add key="Admin_CCEmail" value=""></add>
		<add key="Admin_BCCEmail" value="graavi@kpcorp.com"></add>
		<add key="Admin_Subject" value=": Import failed"></add>
		<add key="RuntimeError_FailureTemplate" value="C:\KP_Projects\PEBT_Billing\Import_ScannedReturnMail_InputFiles\EmailTemplates\RuntimeErrorEmailTemplate.txt"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>